# Dependencies
node_modules/

# Local Environment Secrets
.env
.env.test
*.local

# Next.js Build Artifacts
.next/
out/

# Testing & Coverage Traces
coverage/
.vitest/

# OS/System Trashes
.DS_Store
Thumbs.db
*.log